<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.tankstore.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroProyectoServlet</servlet-name>
        <servlet-class>com.mycompany.tankstore.servlets.RegistroProyectoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProyectosServlet</servlet-name>
        <servlet-class>com.mycompany.tankstore.servlets.ListarProyectosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEstadoServlet</servlet-name>
        <servlet-class>com.mycompany.tankstore.servlets.ActualizarEstadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProyectoServlet</servlet-name>
        <servlet-class>com.mycompany.tankstore.servlets.EliminarProyectoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroProyectoServlet</servlet-name>
        <url-pattern>/RegistroProyectoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProyectosServlet</servlet-name>
        <url-pattern>/ListarProyectosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEstadoServlet</servlet-name>
        <url-pattern>/ActualizarEstadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProyectoServlet</servlet-name>
        <url-pattern>/EliminarProyectoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
